
a { color:#0a0; text-decoration:none; }
a:hover { color:#04c; }

div.tbarlinks ul {
    margin-top: 3px;
    left: -10px;
    position: relative;
/*     margin: 3px 0px 1px 0px; */
}

div.tbarlinks li {
    clear: both;
    display: inline;
    list-style-type: none;
    background: #ffffff;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

div.tbarlinks a { color: #000; }
div.tbarlinks a:hover { color: #04C; }

hr.sepbar {
    margin: 0;
    padding: 0;
    top: -10px;
}
