
body {
    background: #ddd;
}

.container  {
    background: #fff;
    border: 2px solid #666;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin: 10px;
    padding: 20px 20px 30px 20px; font-size: 16px;
    font-family: "Ubuntu", "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, Verdana, sans-serif;
/*     font-weight: lighter; */
/*     letter-spacing: .08em; */
    text-align: left;
}

hr { margin:5px; border:1px solid #ccc; position:relative; left:-5px; }

.bold { font-weight: bold; }
a.bloglink { font-size: 20px; text-align: left; }
a.streamlink { font-size: 20px; text-align: right; }
a.blacklink { color:#000; }
a.blacklink:hover { color:#04C; }

img {border:2px solid gray; }
a img { border: 2px solid gray; }
a img:hover {border: 2px solid #04c; }

.title    { font-size: 60px; letter-spacing: .4em;
            font-family: "Philosopher", serif; font-weight: light;}
.subtitle { font-size: 20px; }


.copyright { text-align:center; margin-top:15px; }

#titlebar  { text-align: center; }
#blog      { height: 230px; margin-bottom: 3em; text-align: left; }

div.author {
    font-family: Ubuntu;
    font-size: 14px;
    text-align: right;
}

div.main_article {
    text-align: left;
}

div.main_article div.category {
    font-weight: bold;
    line-height: 12px;
    font-size: 16px;
    color: #888;
}

div.main_article hr {
    font-size: 16px;
}

div.main_article img {
    float:left;
    margin: 0px 10px 0px 0px;
    width: 220px;
    height: 220px;
}

div.main_article div.text {
    font-size: 45px;
    line-height: 40px;
    font-family: "Philosopher", serif;
}

div.feature_article {
    margin-top: 1.5em;
    text-align: left;
}

div.feature_article div.category {
    font-weight: bold;
    line-height: 12px;
    font-size: 16px;
}

div.feature_article div.category a {
    color: #888;
}
div.feature_article div.category a:hover {
    color: #04c;
}

div.feature_article img {
    float:right;
    margin: 0px 0px 10px 10px;
    width: 170px;
    height: auto;
}

div.feature_article p {
    margin: 0;
    text-align: justify;
}

div.tiny_articles {
/*     margin-top: 2em; */
}

div.tiny_article {
    margin-bottom: 1em;
}

div.tiny_article img {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

div.tiny_article div.text {
    font-size: 26px;
    line-height: 22px;
    font-family: "Philosopher", serif;
    margin: 0px;
    padding-top: 5px;
    text-align: left;
}

div.tiny_article div.category {
    font-size: 14px;
    line-height: 12px;
    color: #888;
}


