
body {
    background: #ddd;
}

.container  {
    background: #fff;
    border: 2px solid #666;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin: 10px;
    padding: 20px 20px 30px 20px; font-size: 16px;
    font-family: "Ubuntu", "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, Verdana, sans-serif;
/*     font-weight: lighter; */
/*     letter-spacing: .08em; */
    text-align: justify;
}

h1, h2, h3, h4, h5 { margin:0px; }

img {border:2px solid gray; }

hr { margin:5px; border:1px solid #ccc; position:relative; left:-5px; }

p { margin: 0 0 0 0; }

img {border:2px solid gray; }

hr { margin:5px; border:1px solid #ccc; position:relative; left:-5px; }

#titlebar  { text-align: center; }
.title    { font-size: 60px; line-height: 65px; letter-spacing: .4em;
            font-family: "Philosopher", serif; font-weight: light;}
.subtitle { font-size: 20px; line-height: 20px; }
h1 { font-size: 40px; line-height: 30px; font-family: "Philosopher", serif; }
