body, html {
    background: #ddd;
    text-align: center;
    margin: 0;
}

.container  {
    font-family: "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: .08em;
    text-align: justify;
}

.borderme {
    background: #fff;
    border: 2px solid #666;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 20px 20px 30px 20px; font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titlebar  { text-align: center; }
.title    { font-size: 60px; line-height: 65px; letter-spacing: .1em; font-variant:small-caps;
    font-family: Palatino, serif; font-weight: bold;}
.subtitle { font-size: 20px; line-height: 20px; }

a { color:#0a0; text-decoration:none; }
a.title, a.subtitle { color:#000; }
a:hover { color:#fc0; }
a img { border: 0; }

.date  { font-size: 1.5em; }
.permalink { position:relative; float:right; top: 1em; text-align:right; }
div.editbox { visibility: hidden; height: 16px; position:relative; top:-20px; }
div.post:hover div.editbox { visibility: visible; }
