/* vim: ts=4 sw=4 et: */

html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 1024px;
    min-width: 240px;
    margin: 0 auto;
    padding: 0;
}

#page-head,
#page-body,
#page-foot {
    clear: both;
    margin: 0;
    padding: 0;
}

#page-body { margin: 0 1em; }

#page-main, #page-side {
    border-width: 0;
}

#page-side {
    float: right;
    width: 180px;
    height: 100%;
    text-align: left;
}

#page-main {
    float: left;
    height: 100%;
    width: 620px;
    text-align: justify;
    padding-left: calc(50% - (620px/2) - 20px);
    padding-right: 0%;
}

div.top-nav {
    visibility: hidden;
    height: 0px;
}

@media screen and (max-width: 1023px) {
    #page-main,
    #page-side {
        clear: both;
        float: none;
        display: block;
    }

    #page-side {
        width: auto;
        margin-left: calc(50% - (620px/2));
        border-top: 1px gray dotted;
        margin-top: 2em;
        padding-top: 1em;
    }


    #page-main {
        width: 620px;
        padding-left: calc(50% - (620px/2));
    }

    #page-side ul {
        column-count: auto;
        -moz-column-count: auto;
        -webkit-column-count: auto;
        -o-column-count: auto;
        -ms-column-count: auto;
    }

    div.top-nav {
        visibility: visible;
        height: 100%;
        clear:both;
        max-width: 620px;
        text-align:center;
        margin-left: calc(50% - (620px/2));
        margin-bottom: 2em;
    }

    div.top-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    div.top-nav ul li {
        display: inline;
        margin: 0;
        padding: 0 .2em;
    }

}




@media screen and (max-width: 660px) {
    #page-main,
    #page-side {
        width: auto;
        clear: both;
        float: none;
        padding: 0px;
        margin: 0px;
    }

    div.top-nav {
        visibility: hidden;
        height: 0px;
    }

}
