
html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 720px;
    min-width: 240px;
    margin: 0 auto;
    padding: 0;
}

#page-head,
#page-body,
#page-foot {
    clear: both;
    margin: 0;
    padding: 0;
}

#page-body { margin: 0 1em; }

#page-main {
    border-width: 0;
    text-align: justify;
}

div.top-nav {
    visibility: hidden;
    height: 0px;
}


div.top-nav, div.bottom-nav {
    visibility: visible;
    height: 100%;
    text-align:center;
    margin-bottom: 2em;
}

div.top-nav ul, div.bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.top-nav ul li, div.bottom-nav ul li {
    display: inline;
    margin: 0;
    padding: 0 .2em;
}

@media screen and (max-width: 660px) {
    #page-main {
        width: auto;
        padding: 0px;
        margin: 0px;
    }

}
@media screen and (max-width: 540px) {
    div.top-nav {
        visibility: hidden;
        height: 0px;
    }
}
