
@import url(normalize.css);

body {
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #444;
    background-color: #FAFAFA;
    -webkit-animation: fade 600ms 1 ease-in-out;
    -moz-animation: fade 600ms 1 ease-in-out;
    -ms-animation: fade 600ms 1 ease-in-out;
    -o-animation: fade 600ms 1 ease-in-out;
    animation: fade 600ms 1 ease-in-out;
}


h1, h2, h3,
h4, h5, h6,
.meta {
    color: #222;
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
    line-height: 1.5em;
    margin-top: 1em;
}

h2, h3, h4, h5, h6 {
    text-align: left;
}

hr {
    visibility: hidden;
    padding-bottom: 1em; 
}

hr:after,
#page-foot:before {
    visibility: visible;
    content: '\2042';
    display: block;
    text-align: center;
}

article {
    margin-bottom: .5em;
}

article header h1 {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 16px;
    padding: .1em 0;
    margin: 0;
    text-align: left;
}

article div.meta, article header h1.full {
    text-align:center
}

article header h1.full, h1.page {
    font-size: 28px;
    padding: 0;
    margin: 0;
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
    font-weight: normal;
}

h1.page {
    margin-top: 0em;
    padding-top: 0em;
}

article header h1.full a {
    margin: 0;
    padding: 0;
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
    border: none;
}

p {
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
}

h1, h2, h3 {
    font-weight: normal;
}

blockquote {
    margin: .1em 1em;
    padding-left: .75em;
    border-left: 2px solid gray;
}

@media screen and (max-width: 660px) {
    blockquote {
        margin: 0;
    }
}

h3.first {
    margin-top: 0em;
    padding-top: 0em;
    top: 0px;
    position: relative;
}

p.first {
    margin-top: 0em;
}

p.first a {
    color: black;
    font-family: 'Share Tech Mono', sans-serif;
    border-bottom: 1px gray dotted;
}

p.first a:hover {
    text-decoration: none;
    border-bottom: 1px black solid;
}

article header .meta {
    font-size: .9em; 
    font-style: italic;
    margin-bottom: 2em;
}

article header .meta a { text-decoration: none; }

article:last-of-type:after {
    content: '';
}

nav, nav h3 {
    font-family: 'Share Tech Mono', sans-serif;
}

nav a {
    border:none;
}

#page-head {
    text-align: center;
    padding-top: .5em;
}

#page-head h1 {
    font-size: 6em;
    font-family: 'Alice', serif;
    font-weight: normal;
    margin: .2em;
}

#page-head h1 a, #page-head h1 a:hover {
    font-family: 'Alice', serif;
    border: none;
    text-decoration: none;
}

#page-foot {
    font-size: .8em;
    text-align: center;
}

#pagination {
    display: block;
    margin-bottom: 4em;
    text-align: center;
}

h1.small-title {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

a, a:visited {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-family: 'Share Tech Mono', sans-serif;
    border-bottom: 1px gray dotted;
    text-decoration: none;
}

a:hover {
    border: none;
    text-decoration: none;
    border-bottom: 2px red solid;
}

a:active, a:focus {
    outline-width: 1px;
    outline-style: dotted;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited,
h6 a, h6 a:visited {
    color: #222;
    text-decoration: none;
}

a.goto {
    font-size: .8em;
    color: #444;
    padding: 0;
    margin: 0em .2em;
}

pre, img, figure, table {
    margin: 1em auto;
    overflow-x: auto;
    border: 3px solid silver;
}

img {
    width: 100%;
}

table td, table th {
    border: 1px solid silver;
    padding: .15em .3em;
}

pre {
    font-family: monospace;
    font-size: 12px !important;
    line-height: 1.15em;
    background-color: #FEFEFE;
    padding: 0.5em;
    max-width: 100%;
}

code {
  font-size: 1em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  padding-left: 0.15em;
  padding-right: 0.15em;
  background-color: #F1F1F1;
  border: 1px solid silver;
}

span.line-number {
    font-size: 12px !important; /* gist fixup */
}

div.file-data table.lines {
    margin: 0px;
    border: none;
    line-height: 1.2em;
}
@media screen and (min-width: 540px) {
    div.file-data table.lines {
        width: 686px !important; /* gist fixup */
    }
}

figure * { border: none; margin: auto; padding: auto; }

@media screen and (max-width: 660px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 540px) {
    body {
        font-size: 12px;
    }
    #page-head h1 {
        font-size: 2.5em;
    }
    pre {
        font-size: 7px !important;
    }
    article header h1.full, h1.page {
        font-size: 18px;
    }

    article header h1 {
        font-size: 12px;
    }
}

