
<ul>
  {% if DISPLAY_PAGES_ON_MENU %}
    <li><a href="{{ SITEURL}}/index.html">articles</a></li>
    {% for p in PAGES %}
    <li><a href="{{ SITEURL}}/{{ p.url }}"{% if p == page %} class="active"{% endif %}>{{ p.title.lower() }}</a></li>
    {% endfor %}
  {% endif %}
</ul>
<ul>
  {% if FEED_ATOM %}
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}">atom-feed</a></li>
  {% endif %}
  {% if FEED_RSS %}
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}">rss-feed</a></li>
  {% endif %}
  {% if SOCIAL %}
    {% for name, url in SOCIAL %}
    <li><a href="{{ url }}">{{ name.lower() }}</a></li>
    {% endfor %}
  {% endif %}
  {% if LINKS %}
    {% for name, url in LINKS %}
    <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
  {% endif %}
</ul>
