{% extends "base.html" %}

{%- block content %}
   <p class="first">
   </p>
   <h1>Short Biography</h1>
   <p>
      Tim Henderson is a software engineer and researcher. He specializes in
      testing, fault localization, duplicate code detection, program analysis,
      graph mining, and databases. Dr.  Henderson recieved a Ph.D. at Case
      Western Reserve University and was advised by Professor Andy Podgurksi.
   </p>
   <h1>Selected Publications</h1>
   {% for article in articles %}
      {% if article.category.name.lower() == "paper" and
      article.mainpage.lower() != "hide" %}
      <article class="post">
        <header class="post-header">
            {{ article.citeauthor }}.
              <a
               href="{{ article.url }}"
               title="perm link {{ article.title }}"
              >{{ article.title }}</a>.
            {{ article.publication}}.
            {% if article.notes %}
            <br/> {{ article.notes }}
            {% endif %}
        </header>
      </article>
      {% endif %}
    {% set article = False %}
    {% endfor %}
   <h1>Articles</h1>
   {% for article in articles %}
      {% if article.category.name.lower() == "blog" %}
      <article class="post">
        <header class="post-header">
          <h1>
            <a
               href="{{ article.url }}"
               title="perm link {{ article.title }}"
            >{{ article.title }}</a>
          </h1>
        </header>
      </article>
      {% endif %}
    {% set article = False %}
    {% endfor %}
{% endblock content -%}
