{% extends "base.html" %}

{%- block content %}
   <p class="first">
   </p>
   <h1>Selected Publications</h1>
   {% for article in articles %}
      {% if article.category.name.lower() == "paper" %}
      <article class="post">
        <header class="post-header">
            {{ article.citeauthor }}.
              <a
               href="{{ SITEURL }}/{{ article.url }}"
               title="perm link {{ article.title }}"
              >{{ article.title }}</a>.
            {{ article.publication}}.
            {% if article.notes %}
            <br/> {{ article.notes }}
            {% endif %}
        </header>
      </article>
      {% endif %}
    {% set article = False %}
    {% endfor %}
   <h1>Articles</h1>
   {% for article in articles %}
      {% if article.category.name.lower() == "blog" %}
      <article class="post">
        <header class="post-header">
          <h1>
            <a
               href="{{ SITEURL }}/{{ article.url }}"
               title="perm link {{ article.title }}"
            >{{ article.title }}</a>
          </h1>
        </header>
      </article>
      {% endif %}
    {% set article = False %}
    {% endfor %}
{% endblock content -%}
