<p>Hi There!</p>
<p><br></p>
<p>I'm Tim Henderson, a CS graduate student at Case Western Reserve University.
I like to tinker and crunch crunchy looking leaves. Right now I am tinkering
with parsers, fuzzers, compilers, static analysis, and databases.</p>
<p>You can and should follow me on:</p>
<ul>
<li><a href="https://github.com/timtadh/">Github</a></li>
<li><a href="https://twitter.com/timtadh/">Twitter</a></li>
<li><a href="https://plus.google.com/u/0/109232399292705173597">Google Plus</a></li>
</ul>