
<div style="float:right; margin:30px;">
<h4>Current Address</h4>
<p>Tim Henderson</p>
<p>1672 E 117th St</p>
<p>Village@115 (House 1) 311A</p>
<p>Cleveland OH 44106-4354</p>
</div>

<h1><a class="blacklink" href="/imgs/resume.pdf">Résumé</a></h1>
<br/>
<h4>Education:</h4>
<p>Case Western Reserve University, Cleveland, Ohio</p>
<p>Bachelor of Arts, Computer Science, May 2011</p>
<p>Minor: Mathematics</p>
<p>GPA: 3.742</p>
<p>Dean's Honor List: Fall 2007, Fall 2008, Fall 2009; </p>
<p>Dean's High Honor List: Spring 2008, Spring 2009</p>

<br/>
<h4>Course Work:</h4>
<p>Technical Classes: Linear Algebra, Computer Networks, Graduate Filestructures, Graduate Databases, Computer
Architecture, Operating Systems, Database Systems, Digital Logic Lab (FPGA Based), Analysis of Algorithms,
Compiler Design, Differential Equations, Data Structures, Discrete Mathematics, Vector Calculus, Digital Design.</p>

<br/>
<h4>Selected Work Experience:</h4>
<br/>
<h5>Cigital Inc.</h5>
<p>Intern - May of 2009 to Present, Sterling, Virginia</p>
<p>Worked on a Static Analysis Framework under John Steven. Designed, and built a custom Object Relational
Mapping, and Query Language for security findings across a variety of formats. Researched comparing security
findings accross tools, project versions, and assessments.</p>
<br/>
<h5>Center for Proteomics - Case Western Reserve University</h5>
<p>Intern - Spring, Fall Semesters of 2008, Cleveland, Ohio</p>
<p>Developing software to analyze results from proteomic experiments using the Linux operating system, Apache
Webserver, MySQL database, and Python programming language. Responsible for writing, testing, and deploying
the software.</p>
<br/>
<h5>Pointe Blank Solutions</h5>
<p>Intern - Summer of 2008, Cleveland, Ohio</p>
<p>Developing business software using Microsoft Visual Studio 2008 and SQL Server 2005 using the C# programming
language. Software uses a combination of WinForms and Windows Presentation Foundation for the graphical
presentation level.</p>

<br/>
<h4>Skills:</h4>
<h5>Programming Languages Known:</h5>  Python, C, C#, Go, Java, Perl, PHP, Visual Basic, Javascript, HTML, CSS, T-SQL, LaTex.
<h5>Computing Environments Regularly Used:</h5>  Linux (Debian and SUSE based varieties), Windows
(95/98se/ME/XP/Vista), Mac OS 10.x.
<h5>Development Environments Used:</h5>  Vim, Python IDLE, Kate (text editor), Visual Studio 2008 (full edition), MPLAB, various other IDE's.
<h5>Also Familiar With:</h5>  Apache Web Server with PHP, Perl, and Python, Open GL (limited), Microsoft XNA
Framework, wxWidgets GUI Toolkit, Python Image Library, Python Encryption Toolkit, WinForms, SQL Sever 2005,
MySQL, SQLite3, Bash, SSH, Git, SVN, Fortify (Limited), O2 (Limited), AppScan (Limited), Nmap.
<h5>General Software Skills:</h5> Microsoft Office, Open Office, Adobe Photoshop, GIMP, Scribus Layout Software.
<br/>
<br/>
<h4>Interests:</h4>
Programming Languages, Security, Open Source Software, Swing Dance, Soccer, Theater, Flying, Skiing, Books.
